body {
  background: #eae0d0;
  text-align: center;
}

header {
  margin-bottom: 10px;
}

a, 
a:visited {
  color: #000;
}

a:hover {
  cursor: pointer;
  color: gray;
}

h1 {
  font-size: 40px;
}

#search-form {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#search-form legend {
  font-size: 20px;
}

.movie {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
  background: #fff;
}

.title {
  font-weight: bold;
  font-size: 20px;
}